:root {
  --white: hsl(0, 0%, 100%);
  --shadow: hsl(0, 9%, 30%);
  --lightGrayishViolet: hsl(270, 3%, 87%);
  --darkGrayishViolet: hsl(279, 6%, 55%);
  --veryDarkViolet: hsl(278, 68%, 11%);
  --veryDarkVioletBTN: hsl(278, 70%, 25%);
}
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-position: cover;
  font-size: var(--fs) !important;
  font-weight: 500 !important;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  /* color: #000000; */
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 2rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
}
.card-image {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.card-logo {
  position: absolute;
  top: 3.5rem;
  left: 9.5rem;
  width: 100%;
}
.card-number {
  position: absolute;
  top: 30%;
  left: 11%;
  font-size: 2rem;
}
/* .card-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.card-image h3 {
  position: absolute;
  top: 40%;
  left: 11%;
  font-size: 1rem;
}
.card-image h4 {
  position: absolute;
  top: 40%;
  left: 36%;
  font-size: 1rem;
}
.back-imag {
  display: none;
}
.imag {
  display: none;
}
.front-view {
  margin-right: 5rem;
  color: #ffffff;
}
.back-view {
  margin-left: 5rem;
}
.back-number {
  color: #ffffff;
  position: absolute;
  top: 70%;
  left: 40%;
  font-size: 1.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem;
}
input {
  border-radius: 0.3rem;
  border: 1px solid gray;
  width: 100%;
  height: 6vh;
}
.form-details {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 2rem;
}
#month {
  width: 3.5rem;
  height: 2rem;
}
#year {
  width: 3.5rem;
  height: 2rem;
}
#cvc {
  width: 7rem;
  height: 2rem;
}
button {
  background-color: #000000;
  color: #ffffff;
  border-radius: 0.3rem;
  width: 100%;
  height: 6vh;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 520px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2rem;
  }
  body {
    background-image: url(./images/bg-main-mobile.png);
    background-size: contain;
    width: 100vh;
    margin: 0 auto;
  }
  .imge img {
    display: none;
  }
  .back-view img {
    display: none;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .card-logo {
    position: absolute;
    top: 7.6rem;
    left: 5rem;
    /* width: 100%; */
  }
  .imag {
    display: block;
    margin: 0 auto;
    position: absolute;
    margin-right: 3rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
  .imag img {
    margin: 0 auto;
    width: 18rem;
    margin-right: 3rem;
    position: absolute;
    top: 7rem;
    left: -1rem;
  }

  .back-imag {
    display: block;
  }
  .back-imag img {
    /* margin: 0 auto; */
    width: 18rem;
    position: absolute;
    right: 4rem;
  }
}
